
/.vscode
selenium-averages/scrape_QC.txt
selenium-averages/scrape_PR.txt
selenium-averages/scrape_ON.txt
selenium-averages/scrape_BC.txt
selenium-averages/scrape_ATL.txt
selenium-averages/scrape_AB.txt
